.u-section-1 .u-sheet-1 {
  min-height: 1878px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 740px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 6px auto 0;
}

.u-section-1 .u-image-1 {
  width: 850px;
  height: 400px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 740px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  width: 740px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-5 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 200px 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 200px 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 200px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 200px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 34px;
  margin: 77px 138px 0 115px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 460px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 21px 30px 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 30px 0;
}

.u-section-1 .u-text-15 {
  margin: 32px -1px 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 25px;
  width: 237px;
  margin: 74px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1781px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-6 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 5px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 106px;
    margin-right: 0;
    margin-left: 65px;
    width: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1775px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 339px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 57px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 50px;
    margin-top: 55px;
    margin-left: 20px;
    width: 167px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 34px;
    width: 227px;
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2386px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 254px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 28px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 28px;
    width: 224px;
    margin-left: 148px;
    margin-right: 148px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2572px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 160px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 33px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
    margin-left: -4px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 34px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 33px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 439px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 262px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 178px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 7px auto 0;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 20px;
  margin: 14px auto 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 235px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 27px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 29px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 27px;
  margin: 0 0 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 26px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 1px;
  min-height: 25px;
  margin-top: 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}.price--line-through{
  font-size: 30px;
  color: #111111;
}
.price--line-through{
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #111111 50%, transparent 52%, transparent 100%);
}