.u-section-1 .u-sheet-1 {
  min-height: 1511px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 25px;
  margin: 7px 0 0 1014px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 4px 200px 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 740px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  width: 740px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-5 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 200px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 200px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 7px auto 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 440px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 29px;
  width: 194px;
  margin: 53px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  background-image: none;
}

.u-section-1 .u-text-11 {
  margin: 21px 30px 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 30px 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 30px 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 25px;
  width: 190px;
  margin: 59px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 440px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-text-14 {
  margin: 0 1px;
}

.u-section-1 .u-text-15 {
  margin: 20px 1px 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 1px 0;
}

.u-section-1 .u-custom-html-4 {
  min-height: 25px;
  width: 307px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 126px;
    margin-right: 50px;
    margin-left: 814px;
  }

  .u-section-1 .u-text-1 {
    width: 740px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-7 {
    width: 740px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    width: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 160px;
    margin-left: 594px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 167px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1355px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 250px;
    margin-left: 414px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 350px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 437px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 253px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 439px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 262px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 178px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 443px 0 466px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 7px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 366px;
    margin-right: 343px;
    width: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 256px;
    margin-right: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 166px;
    margin-right: 143px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 66px;
    margin-right: 43px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}