.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 817px;
  height: auto;
  margin: 60px auto 38px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 2px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 34px;
  width: 248px;
  height: auto;
  margin: 2px auto 0;
}

.u-section-1 .u-image-1 {
  height: 557px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 10px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
  }
}